<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Reconocimiento de voz con lectura</title>
<link rel="stylesheet" href="../style/style.css" />
</head>
<body>
<div class="contenedor">
    <h1> Asistente de voz</h1>
    <p id="texto">Haz clic en el botón y habla</p>
    <button id="btnHablar">Hablar</button>
    <ul id="log"></ul>
    <img id="imgGato" style="display:none; max-width:500px;">
</div>
<script src="../script/script.js"></script>
</body>
</html>